{% load static%}
{% static "image" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="{% static 'main.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="loading-line"></div>
    <nav class="navbar">
        <a class="navbar-brand" href="index.html">
            <h1  class="logo">Reyizer</h1>
        </a>
      
        <div class="dropdown">
          <button  class="dropdown-toggle" type="button" style="color: #caf0f8;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Navigate
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if user.is_authenticated %}
            <h1>hello {{user.username}}</h1>
            <a class="dropdown-item" href="accounts/logout">logout</a>
            {% else %}
            <a class="dropdown-item" href="accounts/register">register</a>
            <a class="dropdown-item" href="accounts/login">login</a>
            {%  endif %}
          </div>
        </div>        
        <button class="subscribe-btn" onclick="redirectToRegisterPage()">Subscribe</button>
      </nav>

    <div id="animation-container" class="container">
      

        <div class="row">
          <div class="col-lg-6 " style="background-color: #0d1b2a; height: 20rem;">
           
            <img id="image" src="{% static '1.png' %}" alt="Default Image">
          </div>
                 <div class="col-lg-6" style="background-color: #0d1b2a; height: 20rem;">
                 <p class="fade-in" style="color:#caf0f8; margin-top: 40px; font-size: 30px; align-items: center;">Welcome to <b style="color:0d1b2a;">Reyizer</b>, where We raise talents, by unlocking its full potential for extraordinary success.</p>
          </div>

        </div>
      </div>

      <div class="container" style="margin-top: 5rem; ">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              {% for dsc in dst %}
                <div class="col-sm-6">
                    <a href="page1.html" class="card">
                        <div class="image-container">
                          <img src="{{dsc.img.url}}" alt="Image 1" class="card-img-top image"  >
                          <div class="card-overlay">
                            {% if dsc.offer %}
                            <div class="text">{{dsc.name}}</div>
                            {% endif %}
                          </div>
                            <h5 class="cmenu"> {{dsc.dsc}}</h5>
                        </div>
                    </a>

                </div>
                {% endfor %}

                <div class="col-sm-6">
                    <a href="page1.html" class="card">
                        <div class="image-container">
                          <img src="{% static 'fashion.jpg'%}" alt="Image 1" class="card-img-top image"  >
                          <div class="card-overlay">
                            <div class="text">{{des2.name}}</div>
                          </div>
                            <h5 class="cmenu">{{des2.dsc}} </h5>
                        </div>
                    </a>

                </div>

                
            </div>
          </div>
          
          <div class="col-lg-4 " style="border-style:solid ;">
           
              <div class="row">
                <div class="col-sm-12">
                         
                   <h4>Additional Information</h4>
                   <p class="par">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat erat sed justo ullamcorper
                                    fringilla. Integer id pharetra mauris, nec varius metus. Fusce sit amet lectus quis massa faucibus
                                    consectetur. Sed non diam eget tortor venenatis venenatis. Ut consectetur diam non lectus sagittis
                                    vehicula.
                    </p>
                
            

                </div>
              </div>


        
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>