<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
<form action="/accounts/login/" method="post">
    {% csrf_token%}
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <button type="submit" name="login_btn">Login</button>
</form>
 
<div style="width:200px; height:50px; color:grey">
    {% for message in messages %}
    <h1>{{ message }}</h1>
    {% endfor %}
</div>

</body>
</html>
